<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../js/vue.js"></script>
</head>
<body>
    <!--
        computed和wathc之间的区别：
            1。computed能完成的功能，watch都可以完成
            2.watch能完成的功能，computed不一定能完成，例如：watch可以进行异步操作
        两个总要的小原则：
            1。所有被Vue管理的函数，最好写成普通函数，这样this的指向才是vm 或 组件实例对象
            2.所有不被Vue管理的函数（定时器的回调函数、ajax的回调函数等、Promise的回调函数），最好写成箭头函数，
                这样this指向才是vm或是 组件实例对象
     -->
    <div id="root">
        姓<input type="text" v-model="firstName"><br><br>
        名<input type="text" v-model="lastName"><br><br>
        全名：<span>{{fullName}}</span>
    </div>
        <script>
            const x = new Vue({
                el:'#root',
                data:{
                    firstName:'张',
                    lastName:'三',
                    fullName:'张-三'
                },
                watch:{
                    firstName(val){
                        // 延迟器，延迟1s
                        // 且一定要写成箭头函数不能写成普通函数，因为写成普通函数的话：
                        // 里面的this指向的是windows，因为延迟器是由浏览器中的js调用的
                        // 箭头函数里面将没有this，然后this就会往外面的父函数找找到Vue了
                        setTimeout(()=>{
                            this.fullName = val+'-'+this.lastName
                        },1000);
                    },
                    lastName(val){
                        this.fullName = this.firstName+'-'+val
                    }
                }
            })
        </script>
</body>
</html>
