<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../js/vue.js"></script>
</head>
<body>
    <div id="root">
        <input type="text" v-model="firstName"><br><br>
        <input type="text" v-model="lastName"><br><br>
        全名：<span>{{fullName}}</span>
    </div>
        <script>
            const x = new Vue({
                el:'#root',
                data:{
                    firstName:'张',
                    lastName:'三'
                },
                computed:{
                    // 完整写法
                    // fullName:{
                    //     get(){
                    //         console.log('get被调用') //此处的this是x
                    //         return this.firstName+'-'+this.lastName
                    //     },
                    //     // set什么时候修改？fullname被修改时
                    //     set(value){
                    //         console.log('set',value)
                    //         const arr = value.split('-')
                    //         this.firstName = arr[0]
                    //         this.lastName = arr[1]
                    //     }
                    // }
                    // 简写写法
                    fullName(){
                        console.log('get被调用')
                        return this.firstName+'-'+this.lastName
                    }
                }
            })
        </script>
</body>
</html>
